body {
  font-family: 'Tahoma', sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: Tahoma, sans-serif;
  direction: rtl;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

textarea {
  width: 100%;
  resize: vertical;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.response {
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}

.history-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.history-column {
  width: 48%;
}

.history-column h3 {
  margin-bottom: 10px;
  text-align: center;
}

.history-box {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.history-column.right .history-box {
  background-color: #d1ffd1; /* شاکی سبز */
}

.history-column.left .history-box {
  background-color: #ffd1d1; /* متشاکی قرمز */
}

.btn-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-back:hover {
  background-color: #005fa3;
}
